[submodule "bpf-defender/blazesym"]
	path = bpf-defender/blazesym
	url = https://github.com/libbpf/blazesym.git
[submodule "bpf-defender/bpftool"]
	path = bpf-defender/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "bpf-defender/libbpf"]
	path = bpf-defender/libbpf
	url = https://github.com/libbpf/libbpf.git
